@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AngularJS Sample SPA</title>
    <script src="~/Scripts/angular.min.js"></script> <!-- don't need Url.Content from MVC4-->
</head>
<body>
    <div>
        Home\Index.cshtml
    </div>
</body>
</html>
