@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AngularJS Sample SPA</title>
</head>
<body>
    <h2>Todo</h2>
    <div ng-controller="TodoCtrl">
        <span>残り:{{remaining()}}/{{todos.length}}</span>
        [ <a href="" ng-click="archive()">完了</a> ]
        <ul class="unstyled">
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30"
                   placeholder="新しいTODOを追加">
            <input class="btn-primary" type="submit" value="追加">
        </form>
    </div>
    <!-- don't need Url.Content from MVC4 -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/app/todo.js"></script>
</body>
</html>
